/*menu header*/
/* font-family: 'Julee', cursive;
font-family: 'Ubuntu', sans-serif;
 */
 .mi_logo
 {
    width: 300px;
    height: 250px;
    text-align: center;
 }
 a
 {
    text-decoration: none;
 }
 h1
 {
    font-family: 'Julee', cursive;
    font-size: 30px;
 }
 .leyenda 
 {
    text-align: center;
 }
 p 
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.txtSomos
{
    width: 300px;
    text-align: justify;
}
h2
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight:bold;
}
h3
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight:bold;
}

/*pie de página*/
footer
{
    background-color: rgba(187,0,255,0.2)
}
footer p
{
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    line-height: 1.6px;

}
.seccion_footer
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight:bold;
}
footer a i
{
    font-size: 40px;
    color: darkcyan;
}
footer a i:hover
{
    color: white;
}
